name: Spring Boot CI/CD with Docker

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn clean install

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t javatechie/springboot-images-new:latest .

      - name: Push Docker image
        run: docker push javatechie/springboot-images-new:latest

      - name: Run container for testing
        run: |
          docker run -d -p 8080:8080 --name springboot-app javatechie/springboot-images-new:latest
          docker ps
